body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-size: 1.1em;
}
main {
  padding: 20px;
}
.obj {
  display: inline-block;
}
.img, .name, .size, .mass {
  border: 1px #aaa solid;
  min-width: 240px;
}
.img {
  min-height: 240px;
}
img {
  display: block;
}
img.avatar {
  border-radius: 50%;
}
nav ul {
  margin: 0;
  background-color: blue;
}
nav ul li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 0 10px;
  color: white;
  font-size: 1.1em;
  line-height: 40px;
  text-decoration: none;
}
nav a:hover {
  background-color: #566DD6;
}