img {
  max-width: 100%;
  height: auto;
}
.img img {min-width: 200px;}
.number, .mag, .age, .dist, .date, .desc {
  display: none;
}
@media (max-width: 625px) {
  .name {
    font-size: 0.82em;
    color: white;
  }
  img {
    max-width: 100%;
  }
}