@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
margin: 0;
padding: 0;
}
body {
color: black;
font-size: 1em;
font-family: 'Roboto', sans-serif;
}
footer {
display: flex;
background-color: gray;
text-align: center;
}
footer #link {
margin-left: 10px;
}
ul, ol {
margin-left: 0;
margin-right: 0;
padding-left: 35px;
margin-top: .05em;
margin-bottom: .8em;
}
#tab {
display: flex;
flex-wrap: wrap;
max-width: 1621px;
min-width: 306px;
margin: auto;
margin-bottom: 1em;
padding: 1em;
}
#messageBox {
display: none;
border-right: 1px solid #aaa;
border-bottom: 1px solid #aaa;
position: absolute;
width: fit-content;
height: fit-content;
z-index: 1;
color: #eee;
background-color: #000;
padding: 5px;
max-width: 500px;
}
#contents {
width: 100%;
height: auto;
z-index: 2;
}
#controls {
border: 3px solid black;
width: fit-content;
padding: 10px;
margin: 10px 0;
max-width: 1000px;
}
h1 {
text-align: center;
font-weight: bold;
font-size: large;
}
a:link {
color: rgb(20, 20, 125);
background: transparent;
text-decoration: none;
}
a:visited {color: rgb(8, 8, 75)}
a:hover {text-decoration: underline;}
nav ul {
margin-left: 0;
padding-left: 1em;
}
nav ul li {
display: inline-block;
margin-right: 10px;
}
nav a {
display: block;
text-decoration: none;
}
img {vertical-align: middle;}
img.w {
width: auto;
max-width: 100%;
}
.obj {
border: 1px #aaa solid;
display: inline-block;
background-color: black;
min-width: 100px;
}
.img {
min-height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
}
.desc {display: none;}
.cont {
padding: 1em;
max-width: 1621px;
min-width: 306px;
}
.name {
width: 100px;
background-color: #ffe7c8;
white-space: nowrap;
overflow: hidden;
}
.name a {
font-size: 17px;
}
.info_field {
font-size: 0.9em;
color: white;
}
.nowrap {
white-space: nowrap;
}
@media (max-width: 900px) {
  .cont {
    padding: 0 0 0.4em 2px;
  }
  #tab {
    padding: 0 0 0.4em 2px;
  }
  #controls {
    margin: 4px 2px 2px 0;
  }
  .info_field {
    font-size: 0.82em;
    color: white;
  }
  nav ul {
    padding-left: 4px;
  }
  nav ul li {
    margin-right: 2px;
  }
}