body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("bg.gif");
}

div {
    text-align: center;
    padding: 5px 10px 0px 10px;
    font-family: Arial;
    margin: 0 auto;
    background-color: black;
    color: white;
    width: 95%;
    padding: 0;
}

.block {
    background-color: white;
    color: black;
}
h1, h2 {
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
}
h2 {
    font-size: 20pt;
}

img {
    margin: 0 auto;
}