#flex-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: grey;
}

#flex-container > div {
    background-color: red;
    margin: 5px;
    padding: 5px;
    width: 11px;
    height: 11px;
}
