* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  color: black;
  font-size: 1em;
}
footer {
  background-color: gray;
  text-align: center;
}
#tab {
  display: flex;
  flex-wrap: wrap;
  max-width: 1224px;
  min-width: 408px;
  margin: auto;
  margin-bottom: 1em;
}
.cont {
  padding: 1em;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
a:link {
  color: blue;
  background: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 1024px;
  vertical-align: middle;
}
.obj {
  border: 1px #aaa solid;
  display: inline-block;
  background-color: black;
  min-width: 100px;
}
div.img {
  min-height: 100px;
  background-color: black;
}
div.desc, .date, .class, .temp {
  font-size: 0.9em;
  color: white;
}
.mass, .angular, .desc, .mag, .jmag {
  display: none;
  font-size: 0.78em;
  color: white;
}
div.size {
  font-size: 0.9em;
  color: white;
}
.star > .desc {background-color: #ffe7c8;}
ul, ol {
  margin-left: 0;
  margin-right: 0;
  padding-left: 35px;
  margin-top: .05em;
  margin-bottom: .8em;
}
.name {
  background-color: #ffe7c8;
}
@media (max-width: 625px) {
  .cont {
    padding: 0;
    padding-left: 0.5em;
    padding-bottom: 0.4em;
  }
  .name, .date {
    font-size: 0.82em;
    color: white;
  }
  img {
    max-width: 621px;
  }
}
a:link{color:rgb(40, 40, 255)}
a:visited {color: rgb(70, 70, 255);}
#messageBox {
  border-right: 1px solid #aaa;
  position: absolute;
  width: 300px;
  height: fit-content;
  z-index: 1;
  color: #eee;
  background-color: #000;
  display: none;
  padding: 5px;}
#contents{
  width: 100%;
  height: auto;
  z-index: 2;
}