img {max-width: 1024px;}
.name, .size, .temp {
  width: 100px;
  font-family: 'Roboto Condensed', sans-serif;
}
/* .name a {
  font-size: font-size: 10px;
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
} */
.name a {
  font-size: 15.5px;
  }
div.desc, .class, .temp {
  font-size: 0.89em;
  color: white;
}
.angular, .size, .mass, .class, .bib {
  overflow: hidden;
}
.mass, .desc, .mag, .jmag, .class, .bib {
  display: none;
  font-size: 0.75em;
  color: white;
}
.angular {
  display: none;
  font-size: 0.7em;
  color: white;

}
.size {
  font-size: 0.9em;
  color: white;
}
@media (max-width: 625px) {
  .name, .date {
    font-size: 0.82em;
    color: white;
  }
  img {
    max-width: 621px;
  }
}