* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  color: black;
}
main {
  font-size: 1em;
}
footer {
  background-color: gray;
  text-align: center;
}
section.tab {
  max-width: 1224px;
  min-width: 408px;
  margin: auto;
  margin-bottom: 1em;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
img {
  vertical-align: middle;
}
img.w {
  width: auto;
  max-width: 100%;
}
section.tab {
  display: flex;
  flex-wrap: wrap;
  max-width: 1224px;
  min-width: 408px;
  margin: auto;
  margin-bottom: 1em;
}
.obj {
  border: 1px #aaa solid;
  display: inline-block;
  background-color: black;
  min-width: 100px;
}
section.comment {
  padding: 1em;
  text-align: justify;
}
ul, ol {
  margin-left: 0;
  margin-right: 0;
  padding-left: 35px;
  margin-top: .05em;
  margin-bottom: .8em;
}
/* a:link {
  color: blue;
  background: transparent;
  text-decoration: none;
} */
a:hover {
  text-decoration: underline;
}
a:link {color:rgb(40, 40, 255)}
a:visited {color: rgb(70, 70, 255)}
#messageBox {
  border-right: 1px solid #aaa;
  position: absolute;
  width: 300px;
  height: fit-content;
  z-index: 1;
  color: #eee;
  background-color: #000;
  display: none;
  padding: 5px;
}
#contents {
  width: 100%;
  height: auto;
  z-index: 2;
}