* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color:#926239;
  line-height: 1.6;
}
h1 {
  font-size: 50px;
  line-height: 1.2;
}
p {
  font-size:20px;
}
#showone {
  background-image: url('beachshowcase.jpg');
}
#showtwo {
  background-image: url('city-dawn-sunset-skyline.jpg');
  color: white;
  align-items: flex-end;
  justify-content: start;
}
#showthree {
  background-image: url("bird-s-eye-view-of-pine-trees.jpg");
  color: rgb(77, 180, 77);
  align-items: flex-start;
  text-align: left;
  justify-content: start;
}
#showfour {
  background-image: url("photo-of-building-on-top-of-rocks.jpg");
}
.show {
  padding: 0 20px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button {
  font-size: 18px;
  text-decoration: none;
  color:black;
  border:#926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.button:hover {
  background:#926239;
  color:#fff;
}
p.left {
  align-self: start;
}
/* #section-a {
  padding: 20px;
  background:#926239;
  color:#fff;
  text-align: center;
}
#section-b{
  padding: 20px;
  background:#f4f4f4;
  text-align: center;
}
#section-c{
  display:flex;
}
#section-c div{
  padding:20px;
}
#section-c .box-1, #section-c .box-3{
  background:#926239;
  color:#fff;
}
#section-c .box-2{
  background:#f9f9f9;
} */