body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color:#926239;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-shadow: black 1px 1px 0, black -1px -1px 0, 
  black -1px 1px 0, black 1px -1px 0;
  /* -webkit-text-stroke: .07em black; */
}
.container {
    display: flex;
    flex-direction: column;
}
h1 {
  font-size: 50px;
  line-height: 1.2;
}
h2 {
    font-size: 30px;
}
ul>li {
  font-size: 40px;
}
#solsysstats {
  background-image: url('images/Saturn_Earth_size_comparison.jpg');
  color: white;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
ul {
    margin: 0 auto;    
}
.header {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  order: 0;
}
.footer {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0;
    order: 4;
}
span.yellow {
  color: rgb(255, 251, 2)
}
.show {
  padding: 0 20px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}