<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask SQLAlchemy table</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <h1>Таблица параметров тел Солнечной системы</h1>
  <p><a href="/new">Добавить параметры объекта</a></p>
  <table>
  <tr>
    <th>Номер</th>
    <th>Имя</th>
    <th>По-русски</th>
    <th>Это луна?</th>
    <th>Радиус, км</th>
    <th>Масса, кг</th>
    <th>ΔV, км/с</th>
    <th>Классы</th>
    <th>Дата открытия</th>
    <th>Название файла картинки</th>
  </tr>
  <tbody>
  {% for object in objects %}<tr>
    <td>{% if object.anumber %}{{ object.anumber }}{% endif %}</td>
    <td>{{ object.name }}</td>
    <td>{{ object.runame }}</td>
    <td>{{ object.is_moon }}</td>
    <td>{{ object.size }}</td>
    <td>{% if object.mass %}{{ object.mass }}{% endif %}</td>
    <td>{% if object.deltaV %}{{ object.deltaV }}{% endif %}</td>
    <td>{% for class in object.classes %}{{ class }} {% endfor %}</td>
    <td>{% if object.discoverdate %}{{ object.discoverdate.strftime("%d.%m.%Y") }}{% endif %}</td>
    <td>{{ object.filename }}</td>
  </tr>{% endfor %}
  </tbody>
  </table>
  <p><b>Всего {{ objects|length }} объектов.</b></p>
</body>
</html>