* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  color: black;
  font-size: 1em;}
footer {
  background-color: gray;
  text-align: center;
}
#tab {
  display: flex;
  flex-wrap: wrap;
  max-width: 1224px;
  min-width: 408px;
  margin: auto;
  margin-bottom: 1em;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
a:link {
  color: blue;
  background: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
img.w {
  width: auto;
  max-width: 100%;
}
.obj {
  border: 1px #aaa solid;
  display: inline-block;
  background-color: black;
  min-width: 100px;
}
div.img {
  min-height: 100px;
  background-color: black;
}
div.name, .date {
  font-size: 0.9em;
  color: white;
}
.mass, .desc, .period, .delta-v {
  display: none;
  font-size: 0.78em;
  color: white;
}
div.size {
  font-size: 0.9em;
  color: white;
}
.cont {
  padding: 1em;
}
@media (max-width: 625px) {
  .cont {
    padding: 0;
    padding-left: 0.5em;
    padding-bottom: 0.4em;
  }
  div.name, .date {
    font-size: 0.82em;
    color: white;
  }
}
.star > .name {background-color: #ffe7c8;}
.pla > .name {background-color: white;}
.neo > .name {background-color: #FFC2E0;}
.co > .name {background-color: #c1f8f5;}
.ea > .name {background-color: white;}
.mar > .name {background-color: #f57c54;}
.mab > .name {background-color: #fcb;}
.dw > .name {background-color: #ffffff;}
.ju > .name {background-color: #ccffaa;}
.sat > .name {background-color: #fffcb1;}
.ur > .name {background-color: #a890ff;}
.ne > .name {background-color: #7b9ee9;}
.pl > .name {background-color: #f1e8ff;}
.tno > .name {background-color: #acdeff;}

ul, ol {
  margin-left: 0;
  margin-right: 0;
  padding-left: 35px;
  margin-top: .05em;
  margin-bottom: .8em;
}
a:link{color:rgb(40, 40, 255)}
a:visited {color: rgb(70, 70, 255)}
#messageBox {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
	position: absolute;
	width: fit-content;
	height: fit-content;
  z-index: 1;
  color: #eee;
	background-color: #000;
  display: none;
  padding: 5px;
}
#contents {
  width: 100%;
  height: auto;
  z-index: 2;
}