.date, .size {
  font-size: 0.9em;
  color: white;
}
.mass, .desc, .period, .deltav, .dens {
  display: none;
  font-size: 0.78em;
  color: white;
}
.name {width: 100px}
.star > .name {background-color: #ffe7c8;}
.pla > .name {background-color: white;}
.neo > .name {background-color: #FFC2E0;}
.co > .name {background-color: #c1f8f5;}
.ea > .name {background-color: white;}
.mar > .name {background-color: #f57c54;}
.mab > .name {background-color: #fcb;}
.dw > .name {background-color: #ffffff;}
.ju > .name {background-color: #ccffaa;}
.sat > .name {background-color: #fffcb1;}
.ur > .name {background-color: #a890ff;}
.ne > .name {background-color: #7b9ee9;}
.pl > .name {background-color: #f1e8ff;}
.tno > .name {background-color: #acdeff;}