h1{
    font-family: 'Amatic SC', cursive;
}
p.marck, pre {
    font-family: 'Marck Script', cursive;
    font-size: 1.5em;
}
p.calis {
    font-family: 'Calistoga', cursive;
}
p.dance {
    font-family: 'Dancing Script', cursive;    
}
p.odibee {
font-family: 'Odibee Sans', cursive;
}
p.caveat {
font-family: 'Caveat', cursive;
}