* {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 1em;
  font-size: 1.5em;
}
h1, h2, h3 {
  margin-top: 0.55em;
  margin-bottom: 0.4em;
}
ul, ol {
  margin-left: 25px;
}
.red {
  color: red;
  font-weight: bold;
}